.idea
src/__pycache__

#as the dataset is huge, we don't want to commit it
/data/train2017
/data/val2017
/data/glove*
/data/_
#exclude the original annotations
/data/annotations/captions*.json
/model_storage/*bleu*

#for now exclude model_storage
#/model_storage

test*.py
#exclude tensorboard outputs.
/runs
_playground.ipynb
_playground.py
.ipynb_checkpoints
#macOS
.DS_Store

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
/src/OK/
/src/*network*
